.vs
material/

src/Project/debug/

src/Project/.qmake.stash

src/Project/Makefile

src/Project/Makefile.Debug

src/Project/Makefile.Release

src/Project/ui_mainwindow.h

src/Project/ui_replaylistitem.h

src/Project/ui_replaywidget.h

src/Project/ui_tasklistitem.h

src/Project/ui_taskwidget.h

src/Project/ui_assessmentwidget.h

src/Project/ui_questionnairemanagementwidget.h

src/Project/ui_usermanagementwidget.h

src/Project/release/object_script.Project.Release

src/Project/ui_evaluatewidget.h

src/Project/ui_questionnairelistitem.h

src/Project/build/debug/

src/Project/build/

src/Project_20241121.zip

src/Project_20241124.zip

src/Project/widgetframe/lib/QWKCore.lib

src/Project/widgetframe/lib/QWKCored.lib

src/Project/widgetframe/lib/QWKWidgets.lib

src/Project/widgetframe/lib/QWKWidgetsd.lib

src/Project/widgetframe/lib/release/libQWKCore.dll.a

src/Project/widgetframe/lib/release/libQWKWidgets.dll.a

src/Project/ui_answerlistitem.h

src/Project/ui_configlistitem.h

src/Project/ui_eventchilditem.h

src/Project/ui_eventitem.h

src/Project/ui_questionitem.h

src/Project/ui_questionlistitem.h

src/Project/ui_questiontypedialog.h

src/Project/ui_triggeractiondialog.h

src/Project/Project.qtvscr

src/Project/Project.sln

src/Project/Project.vcxproj

src/Project/Project.vcxproj.filters

src/Project/Project.vcxproj.user
